@model HelpAFamily.Models.Chat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
